# Database Configuration
DB_PASSWORD=root

# MinIO Configuration
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=punarmilan-photos

# JWT & Security
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
CHAT_ENCRYPTION_KEY=Puna@Milan#2024SecureKey32Chars!
ADMIN_DEFAULT_PASSWORD=admin123

# Email Configuration
MAIL_PASSWORD=zptbrkkdlzjfbcjx
# meyjinjxkyypcave

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_S4u6oqPjYS3mMs
RAZORPAY_KEY_SECRET=B0gTPv3JZ1XGiyd6CARRI0Pl

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:5173
